html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
}
header {
  box-sizing: border-box;
}
main {
  box-sizing: border-box;
}
footer {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}