/* font */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 1px;
  color: #222;
}
/* anchor */
a {
  color: #6A4C9C;
  text-decoration: none;
}
a:hover {
  color: #666;
  text-decoration: underline;
}

/* heading */
.th-sample h1 {
  font-size: 42px;
  font-weight: 500;
}
.th-sample h2 {
  padding-left: 4px;
  border-bottom: solid 2px #6A4C9C;
  font-size: 32px;
  font-weight: 400;
}
.th-sample h3 {
  padding-left: 15px;
  border-left: solid 2px #6A4C9C;
  color: #6A4C9C;
  font-size: 22px;
  font-weight: 400;
}

/* unordered list */
.th-sample ul {
  padding-left: 1em;
  list-style-position: outside;
}
.th-sample ul ul{
  padding-left: 2em;
}
.th-sample :not(pre) code {
  background-color: #EEE;
  color: #6A4C9C;
  padding: 0 0.3em;
}
