---
---

@import "{{ site.theme }}";

.inner {
    max-width: 1000px;
}
#header_wrap .inner {
    padding: 10px 10px;
}
#project_tagline {
    margin: 0;
}
#main_content {
    padding-top: 10px;
}
li ul {
    margin-bottom: 0;
}